:root {
    --corner: 24px;
    --accent: #eab;
    --anim-list: color .3s, border-color .3s;
}

.bubble {
    border: 2px solid;
    border-radius: var(--corner) var(--corner) var(--corner) 0px;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: var(--anim-list);
    /* border: 2px solid red; */
}

h1, h2, h3, h4, h5, h6, a {
    color: var(--accent);
    font-weight: 600;
}

html {
    background-color: #687;
    /* background-image: url("photos/pinkgranite.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    display: block;
    width: calc(100vw - 64px);
    max-width: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 10vh auto;
}

header, body>* {
    margin: 5vh auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>* {
    display: inline-block;
    color: white;
}

header .headshot {
    float: left;
    border-radius: var(--corner);
    height: 300px;
    width: 300px;
    margin: var(--corner);
}

header .bubble {
    padding: var(--corner);
    width: calc(300px - 2 * var(--corner));
    margin: var(--corner);
    height: calc(300px - var(--corner) * 4);
    border-color: var(--accent);
}

section, article, aside, footer{
    border-radius: var(--corner);
    background: white;
    padding: 2vh;
    margin: 2vh auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>a {
    width: calc(5 * var(--corner));
    text-align: center;
    height: calc(3 * var(--corner));
    line-height: calc(3 * var(--corner));
}

nav>a:hover {
    color: white;
}

p {
    margin-top: 2vh;
}