:root {
    --corner: 24px;
    --accent: #eab;
    --bg: #687;
    --anim-list: color .3s, border-color .3s, background-color .3s;
}

.bubble {
    border: 2px solid;
    border-radius: var(--corner) var(--corner) 0px var(--corner);
}

.bubble.right, article>*, header>.bubble {
    border-color: transparent;
    border-radius: var(--corner) var(--corner) var(--corner) 0px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: var(--anim-list);
    /* border: 2px solid red; */
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, a {
    color: var(--accent);
    font-weight: 600;
}

.center {
    text-align: center;
}

html {
    background-color: var(--bg);
    /* background-image: url("photos/pinkgranite.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    display: block;
    width: calc(100vw - 64px);
    max-width: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
}

body, body>* {
    margin: 8vh auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>* {
    display: inline-block;}

header .headshot {
    float: left;
    border-radius: var(--corner);
    height: 300px;
    width: 300px;
    margin: 0 var(--corner);
}

header .bubble {
    background: white;
    padding: var(--corner);
    width: calc(300px - 2 * var(--corner));
    margin: var(--corner);
    border-color: transparent;
}

article {
    display: flex;
    flex-wrap: wrap;
}

article>* {
    width: calc(50% - 4 * var(--corner));
    background: white;
    margin: var(--corner);
    padding: var(--corner);
}

article>*>a {
    display: block;
}

section, aside, footer {
    border-radius: var(--corner);
    background: white;
    padding: 2vh;
    margin: 2vh auto;
}

iframe#page {
    border: none;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>a {
    width: calc(5 * var(--corner));
    text-align: center;
    height: calc(3 * var(--corner));
    line-height: calc(3 * var(--corner));
}

nav>a:hover {
    color: var(--bg);
    background: var(--accent);
    border-color: var(--accent);
    text-decoration: none;
}

p {
    margin-top: 2vh;
}

ul {
    list-style-type: none;
}

ul li {
    margin: calc(0.5 * var(--corner)) auto;
}